<html>

    <head>
    
        <title>Monkeys For Monkeys</title>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="icon.svg">
    
    </head>
    <body>
    
        <header>
        
            <h1>Monkeys For Monkeys</h1>
        
        </header>
        
        <nav aria-label="Site Navigation">
        
            <iframe src="nav.htm"></iframe>
        
        </nav>
        <main>
        
            <h2>PAGE TITLE</h2>
            <nav aria-label="Page Navigation">
            
                <p>PAGE NAVIGATION</p>
            
            </nav>
            
            <article>
            
                <h2>ARTICLE TITLE</h2>
                
                <section>
                
                    <h3>SECTION TITLE</h3>
                
                </section>
            
            </article>
        
        </main>
        <footer>
        
            <p>
                Monkeys for Monkeys (MFM)
                <script src="footer.js"></script>
            </p>
        
        </footer>
    
    </body>

</html>