html {
    font-size: 16px;
}
body {
    font-family: sans-serif;
    color: black;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 10px;
}
header {
    background-color: white;
}
nav {
    float: left;
    max-width: 25rem;
    min-height: 100vh;
    background-color: yellow;
    padding: 20px;
    margin: 10px;
    margin-top: 0px;
    font-size: 1.5rem;
}
nav a {
    font-weight: bold;
}
main {
    float: none;
    width: 98%;
    min-height: 100vh;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
}
h1 {
    font-size: 4rem;
    color: red;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
.headerImg {
    display: inline-block;
    height: 375;
    width: auto;
}
p {
    margin: 5px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
big {
    font-size: 1.25em;
}
a {
    color: blue;
}
.marquee {
    width: 100%;
    background-color: black;
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    height: 2.5rem;
    padding: 0px;
}
.marquee a {
    color: yellow;
}
button {
    background-color: lightgray;
    color: black;
    padding: 3px;
    border-style: outset;
    border-color: lightgray;
    border-width: 5px;
    border-radius: 10px;
    margin: 5px;
}
button:active {
    border-style: inset;
}
#qa-dialog {
    overflow: scroll;
    background-color: beige;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    border-style: none;
    max-width: 30rem;
    max-height: 70vh;
    position: absolute;
}
.qa-topic span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}